*{
  font-family:sans-serif;
}

body{
  padding: 40px;
}

.listeboks{
  width: 400px;
  padding: 30px;
  background-color: #ccdbd5;
  border-radius: 10px;
}

ul{
  font-size: 0.9em;
  font-weight: 300;
  line-height: 1.6em;


}
ul>ul>li:first-child{
  font-size: 1.3em;
  font-weight: 500;
  font-family:sans-serif;
  margin: 20px 0;
  margin-left: -20px;
  border-top: 1px solid #888;
  border-bottom: 1px solid #888;
  width: max-content;
  list-style-type: none;
}

ul>ul>li{
  font-size:0.9em;
  font-weight:200;
  list-style-type: square;
  line-height: 1.3em;
}

ul>ul{
  margin-bottom: 20px;
}
